.App {
  text-align: center;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


.wrapper {
  margin-top: 2.5%;
  margin-right: 3.5%;
  margin-left: 3.5%
}

.datatable {
  width: 100%;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}

.sort-wrapper{
  display: inline-block;
}

.search-wrapper{
  display: inline-block;
  margin-left: 5%;
}

table {
  border-collapse: collapse;
  border-color: gray
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  display: table-cell;
  vertical-align: inherit
}

th{
  font-weight: bold;
  /* background-color: #00a9e0; */
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit
}

footer {
  margin-bottom: 2%;
}

/* Button styling */
/* Button */

button {
  border: 0;
  font-size: 16px;
  padding: 0 16px;
  margin: 8px;
  border-radius: 4px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fff;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.15s ease;
}

button:hover {
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

button:focus {
  outline: none;
}


/* CSS Styling for Dark-mode & light mode toggle */

i.toggler{
  color: white;
  float: right;
  font-size: 20px;
}

.dark-mode{
  background-color: #0a2533;
  color: white;
}

.dark-mode i.toggler {
  color: #ea7600;
}

.dark-mode td, .dark-mode th {
  border: 1px solid white;
}

.dark-mode button {
  background-color: #0a2533 ;
}

